/*Black #191716*/

/*White #e0e2db*/

/*Yellow #e6af2e */

/*Grey #beb7a4*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: rgb(20, 54, 1);
  --clr-primary-2: rgb(26, 67, 1);
  --clr-primary-3: rgb(83, 141, 34);
  --clr-primary-4: rgb(115, 169, 66);
  /* primary/main color */
  --clr-primary-5: rgb(170, 213, 118);
  /* lighter shades of primary color */
  --clr-primary-6: rgb(170, 204, 0);
  --clr-primary-7: rgb(212, 215, 0);
  --clr-primary-8: rgb(221, 223, 0);
  --clr-primary-9: rgb(238, 239, 32);
  --clr-primary-10: rgb(216, 243, 220);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  --max-width: 1170px;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-1);
  color: var(--clr-primary-7);
  padding: 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-primary-7);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-);
  background: var(--clr-primary-4);
}
header {
  width: 100%;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0e2db;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-links {
  list-style-type: none;
  display: none;
}

.nav-links a {
  display: block;
  padding: 20px;
  background: var(--clr-primary-1);
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-primary-10);
  transition: color 2s ease, background 2s ease, padding 2s ease;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}

.nav-links a:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding-left: 30px;
}

.nav-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background: var(--clr-primary-1);
}

.nav-icons li {
  flex: 0 0 auto;
  text-align: left;
}
.nav-icons a {
  font-size: 30px;
  color: var(--clr-primary-10);
  transition: color 2s ease 1s;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}
.nav-icons a:hover {
  color: #f5f3f5;
}

.nav-container {
  padding: 0 20px;
  background: var(--clr-primary-1);
  border-bottom: 5px solid var(--clr-primary-7);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-container img {
  width: 100px;
  align-self: center;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 4px;
  margin: 5px;
  background: var(--clr-primary-7);
  transition: transform 2s ease, opacity 2s ease;
  -webkit-transition: transform 2s ease, opacity 2s ease;
  -moz-transition: transform 2s ease, opacity 2s ease;
  -ms-transition: transform 2s ease, opacity 2s ease;
  -o-transition: transform 2s ease, opacity 2s ease;
}
.company {
  color: var(--clr-primary-10);
  font-size: 1.7rem;
  align-self: center;
}

.nav-btn {
  padding: 2px;
  display: inline-block;
  border: 4px solid var(--clr-primary-7);
  cursor: pointer;
  align-self: center;
  margin-top: 8px;
  margin-bottom: 8px;
  align-items: center;
}
.nav-btn:hover {
  color: var(--clr-primary-);
  background: var(--clr-primary-4);
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  -moz-transform: rotate(-45deg) translate(-7px, 6px);
  -ms-transform: rotate(-45deg) translate(-7px, 6px);
  -o-transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
  -webkit-transform: rotate(45deg) translate(-7px, -8px);
  -moz-transform: rotate(45deg) translate(-7px, -8px);
  -ms-transform: rotate(45deg) translate(-7px, -8px);
  -o-transform: rotate(45deg) translate(-7px, -8px);
}
@media screen and (min-width: 992px) {
  .nav-btn {
    display: none;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav-container {
    background: var(--clr-primary-1);
    border-bottom: none;
    flex: 0 0 50%;
  }
  .nav-links {
    padding: 0 20px;

    flex: 1 0 auto;
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    background: var(--clr-primary-1);
  }
  .nav-links li {
    flex: 1 0 auto;
  }
  .nav-links a {
    background: transparent;
    text-align: center;
    border-radius: 5px;
    padding: 20px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .nav-links a:hover {
    padding-left: 10px;
  }
  .nav-icons {
    display: none;
  }
}

nav {
  width: 100%;
  z-index: 10;
  overflow: hidden;
  transition: background 2s ease;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}

.navBackground {
  background: rgb(20, 54, 1, 0.8);
}

/*######################banner#####################*/
.banner {
  width: 100%;
}
#banner {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/fresh.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.banner-text {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--clr-primary-7);
  text-align: center;
}
.banner-title {
  margin: 0 auto;
}

.banner-title h3 {
  font-size: 25px;

  color: var(--clr-primary-7);
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}

.underline {
  width: 200px;
  border: 3px solid var(--clr-primary-7);
  margin: 10px auto 20px auto;
  background: var(--clr-primary-7);
}
/* about */
#about {
  background: var(--clr-grey-10);
  width: 100%;
  overflow: hidden;
}
.about-center {
  display: grid;
  gap: 1rem 2rem;
  width: 90%;
  margin: 0 auto;
}
.about-image {
  height: 300px;
  width: 300px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--clr-primary-7);
  margin: 2rem auto;
  box-shadow: var(--dark-shadow);
}
.about-image img {
  height: 100%;
  width: 100%;
}
.about-text {
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-text .btn {
  margin: 1rem auto;
}
.about-text h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 1rem;
  font-style: italic;
  text-transform: uppercase;
  color: var(--clr-primary-1);
}
.about-text p {
  color: var(--clr-primary-1);
  padding: 0.2rem 2rem;
  font-size: 20px;
  text-align: center;
}
@media screen and (min-width: 776px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-text {
    align-self: center;
  }
  .about-image {
    height: 400px;
    width: 400px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--clr-primary-7);
    margin: 2rem auto;
    box-shadow: var(--dark-shadow);
  }
}

/*tittle */

.title {
  margin: 40px 0;
}

.title-text {
  text-align: center;
  font-size: 40px;
  color: var(--clr-primary-7);
  font-style: italic;
  text-transform: uppercase;
}

/*services*/

#service {
  min-height: 100vh;
  background: linear-gradient(rgba(9, 5, 20, 0.507), rgba(7, 3, 17, 0.582)),
    url(images/carrotcucumber.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 80px 0;
  justify-content: center;
  align-content: center;
}

.services-container {
  max-width: 90vw;
  margin: 0 auto;
  color: #e0e2db;
}
.service-item {
  overflow: hidden;
  position: relative;
  padding: 50px;
  height: 200px;
}

.service-item .fa {
  font-size: 60px;
  margin-bottom: 30px;
  color: #e6af2e;
}

.service-item-black {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  color: var(--clr-primary-7);
  font-size: 20px;
}

.service-item-white {
  background: linear-gradient(
    rgba(206, 208, 206, 0.6),
    rgba(206, 208, 206, 0.6)
  );
  color: var(--clr-primary-1);
  font-size: 20px;
}

.front-text {
  text-align: center;
  transition: transform 2s;
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 2s;
}

.back-text {
  position: absolute;
  bottom: -15em;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  transition: bottom 2s;
  padding: 30px 0;
  -webkit-transition: bottom 2s;
  -moz-transition: bottom 2s;
  -ms-transition: bottom 2s;
  -o-transition: bottom 2s;
}

.back-text button {
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #e6af2e;
  font-size: 20px;
  color: #e6af2e;
}

.back-text button:hover {
  background-color: #e6af2e;
  color: #191716;
}

.service-item-white button {
  background: #e6af2e;
  color: #191716;
}

.service-item-white button:hover {
  background: #191716;
  border-color: #191716;
  color: #e6af2e;
}
.banner-text p {
  margin-left: -50px;
}

.service-item:hover .front-text {
  transform: translateY(-390px);
  -webkit-transform: translateY(-390px);
  -moz-transform: translateY(-390px);
  -ms-transform: translateY(-390px);
  -o-transform: translateY(-390px);
}

.service-item:hover .back-text {
  bottom: 25px;
}

@media screen and (min-width: 776px) {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services-container .service-item:nth-of-type(1) {
    order: 1;
  }
  .services-container .service-item:nth-of-type(2) {
    order: 2;
  }
  .services-container .service-item:nth-of-type(3) {
    order: 4;
  }
  .services-container .service-item:nth-of-type(4) {
    order: 3;
  }
}

/*projects */

#projects .title-text {
  color: var(--clr-primary-1);
}

#projects {
  padding: 20px 0 80px 0;
  background-color: #e0e2db;
}

.projects-container {
  max-width: 90vw;
  margin: 0 auto;
}
.prod {
  padding: 2rem;
  color: var(--clr-primary-1);
  font-size: 1.5rem;
}

.projects-item {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: var(--clr-primary-5);
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}

#projects img {
  width: 100%;
  min-height: 100%;
  transition: transform 4s;
  display: block;
  -webkit-transition: transform 4s;
  -moz-transition: transform 4s;
  -ms-transition: transform 4s;
  -o-transition: transform 4s;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 4s;
  -webkit-transition: opacity 4s;
  -moz-transition: opacity 4s;
  -ms-transition: opacity 4s;
  -o-transition: opacity 4s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.img-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  font-size: 20px;
  opacity: 0;
  color: #e6af2e;
  transition: opacity 4s;
  -webkit-transition: opacity 4s;
  -moz-transition: opacity 4s;
  -ms-transition: opacity 4s;
  -o-transition: opacity 4s;
}

.img-text h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.img-text h6 {
  font-size: 15px;
}

.projects-item:hover img {
  opacity: 0.4;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.projects-item:hover .img-text,
.projects-item:hover .img-footer {
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

@media screen and (min-width: 992px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-column-gap: 1em;
  }
}

#contact {
  clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
  background: linear-gradient(rgba(9, 5, 20, 0.507), rgba(7, 3, 17, 0.582)),
    url(/images/manrice.jpeg) center/cover no-repeat fixed;
  padding: 2rem;
}
.item-info {
}
#company-info {
  text-align: center;
  font-size: 2rem;
  color: var(--clr-primary-7);

  margin: 0 auto;
  padding: 2rem;
}
.form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.formctrl,
input:focus {
  outline: none;
}
.formctrl:hover {
  border-bottom: 4px solid var(--clr-primary-7);
}
.formctrl {
  padding: 1rem;
  border: none;
  border-bottom: 2px solid var(--clr-primary-7);
  background: transparent;
  color: var(--clr-primary-7);
  font-size: 20px;
  margin-bottom: 1rem;
  height: 3rem;
}
.form h2 {
  text-align: center;
  margin-top: 2rem;
  color: var(--clr-primary-4);
}
.formctrl::placeholder {
  color: var(--clr-primary-7);
  font-size: 20px;
}
@media screen and (min-width: 776px) {
  .contact-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

/*posts*/

/*footer*/

footer {
  background-color: #191716;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}

.footer-text {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--clr-primary-5);
  margin-bottom: 10px;
}

.footer-icons {
  font-size: 30px;
  margin-left: 2rem;
}

.footer-icons a {
  margin-right: 10px;
  color: var(--clr-primary-7);
  transition: transform 2s;
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 2s;
}

.footer-icons a:hover {
  color: var(--clr-primary-5);
  transform: translateY(-15px);
}
